{% extends 'base_generic.html' %}

{% block content %}
    <div class="container-fluid my-auto">
        <h1 class="text-center my-3">User Login</h1>
        <form class="login d-flex flex-column justify-content-center" method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-dark" style="width: 20%; align-self: center; margin-top: 10px">Login</button>
        </form>
    <a class="d-flex justify-content-center my-3" href="{% url 'register_url' %}"> Don't have an account? Sign up now!</a>
    </div>
{% endblock %}