{% extends 'base_generic.html' %}
{% block content %}
    <div class="container-fluid mt-3 text-center">
        <h1 style="height: 100px;">Find your Fitness Plan!</h1>

        <h4 style="margin-bottom: 30px">Fitness Planner™</h4>
        <form action="/day_selector/" method="post">
            {% csrf_token %}
            <ul class="form" style="list-style: none">
                <li>
                    <label for="id_age"><strong>Type how many days of week you would like to exercise (1 - 6):</strong></label>
                    {{ form.day }}
                </li>
            </ul>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}