html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body {
    color: white;
}

.nav-link {
    margin: auto 15px;
}

a {
    color: white;
}

a:hover {
    color: #3eff91;
}

.card {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(255, 255, 255, 0.48);
}

.card a {
    padding: 140px;
    text-decoration-line: none;
    color: #ffffff;
    font-size: 45px;
}

.card a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.form li {
    padding-bottom: 10px;
}

.form li div {
    display: inline-block;
}

.form li div div {
    display: inline;
}