{% extends "base_generic.html" %}

{% block content %}
    <h1 class="d-flex justify-content-center" style="font-size: 70px; height: 200px; align-items: center">
        Welcome, user {{ user.username }}
    </h1>
    <h2 class="d-flex justify-content-center" style="height: 100px">Please select one of the options below.</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center m-auto">
        <div class="col my-auto">
            <div class="card rounded-3 m-auto">
                <a href="{% url 'calorie_index' %}">Calorie Calculator™</a>
            </div>
        </div>
        <div class="col my-auto">
            <div class="card rounded-3 m-auto">
                <a href="{% url 'fitness_index' %}">Fitness Planning™</a>
            </div>
        </div>
        <div class="col my-auto">
            <div class="card rounded-3 m-auto">
                <a href="{% url 'dashboard' %}">Update Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
