{% extends "base_generic.html" %}

{% block content %}
    <h1 class="d-flex justify-content-center" style="font-size: 70px; height: 200px; align-items: center">
        Welcome, user {{ user.username }}
    </h1>
    <h2 class="d-flex justify-content-center" style="height: 100px">Please select one of the options below.</h2>
    <div class="row text-center m-auto">
        <div class="col my-auto">
            <div class="card rounded-3 m-auto">
                <a class="rounded-3" href="{% url 'calorie_index' %}"><span class="card-item">Calorie Calculator™</span></a>
            </div>
        </div>
        <div class="col my-auto">
            <div class="card rounded-3 m-auto">
                <a class="rounded-3" href="{% url 'fitness_index' %}"><span class="card-item">Fitness Planning™</span></a>
            </div>
        </div>
        <div class="col my-auto">
            <div class="card rounded-3 m-auto">
                <a class="rounded-3" href="{% url 'dashboard' %}"><span class="card-item">Dashboard</span></a>
            </div>
        </div>
    </div>
{% endblock %}
